<div class="flex flex-col w-full justify-center content-center mx-auto my-8">
  <h1 class="text-center font-special text-4xl text-primary-orange">Welcome to MoreXP</h1>
  <div class="text-gray-300 px-40 py-5 space-y-2 mb-10">
    <p>This is an experimental application that challenges the conventional approach to finding a job.</p>
    <p>Inspired by the ever-increasing turmoil in the job market, where highly capable individuals struggle to find employment, especially their first job.</p>
    <p>MoreXP tackles this issue by allowing users to gain job experience across various industries to get their foot in the door.</p>
    <p>Whether it’s a single project, a few months of work, or an on-call part-time gig, these experiences will be valuable additions to their resumes.</p>
    <p>This approach effectively allows people to showcase their abilities, regardless of how well they perform in traditional interviews, which, sadly, is also a necessary skill in today’s job market.</p>
  </div>
  <div class="flex items-center mx-auto justify-between my-10">
    <%= render "shared/line_text" %>
  </div>
</div>
